.features-list-item {
  text-align: left;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 3) / 4);
  }

  &:nth-child(even) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 0;
    }
  }

  &:nth-last-child(-n + 2) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 0;
    }
  }

  &-title {
    @include font($fw: 700);
    margin-bottom: 10px;
  }

  &-svg {
    width: 70px;
    height: 70px;
  }

  & div {
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;
  }
}
