*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include font;
  color: $text-dark-theme-color;
  background-color: $title-dark-theme-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: $text-dark-theme-color;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .grid-list {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .grid-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .grid-item:last-child {
    margin-right: 0;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media screen and (min-width: 480px) {
    margin: 0 auto;
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.description {
  color: $desc-color;
  @include font($lh: 1.714);
}

.accent {
  color: $accent-color;
}

.hide-item {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
